.p1 {
    background-color: pink;
    display: inline-block;
    margin: 0;
}
.hr1 {
    margin-top: 0;
}
.p2 {
    font-size: 14pt;
    padding-left: 20px;
    margin-bottom: 0;
}
.h3 {
    margin-top: 0;
}
.tieude {
    text-align: center;
}
.hr2 {
    border: 2px solid black;
}
.li {
    font-weight: bold;
    display: inline-block;
}
.ul1 {
    font-family: Verdana;
    color: black;
    font-size: 13pt;
}
.ul2 {
    font-family: tahoma;
    color: black;
    font-size: 13pt;
    list-style-type: square;
}
.ul3 {
    font-family: Times New Roman;
    color: black;
    font-size: 13pt;
    list-style-type: disc;
}
.p3 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0;
}
.ul4 {
    margin: 0;
    font-family: Verdana;
    color: red;
    font-size: 13pt;
    list-style-type: disc;
    padding-left: 5%;
}

