ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: aqua;
}
.menu1 li {
  display: inline-block;
  padding: 10px 24px;
  color: black;
  cursor: pointer;
}
.menu2 li {
  display: block;
}
.li-hover {
  position: relative;
}
.menu2, .menu3 {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 144px;
}
.menu3 {
  left: 100%;
  top: 0%;
}
li:hover {
  background-color: red;
}
.li-hover:hover .menu2,
.li-hover3:hover .menu3 {
  display: block;
}